.card{
    border:2px solid green;
    padding:10px;
    flex-basis: 350px;
}
.excellent {
    background-color: rgba(0,255,0,0.2);
}
.good {
    background-color: rgba(0,0,255,0.2);
}
.bad {
    background-color: rgba(255,0,0,0.2);
}