*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width:80vw;
  margin:20px auto
}
.container > div {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}